<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black">
<div class="flex items-center justify-center h-screen">
    <div class="text-center">
        <h1 class="text-6xl font-bold text-white">SSE Status Project Example</h1>
        <p class="text-2xl text-gray-300">Learn how to use Server-Sent Events (SSE) with this simple example</p>
        <button id="openConnection" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
            Open Connection
        </button>

        <button id="connect_button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
            Start Job
        </button>
        <p id="status" class="text-2xl text-gray-300"></p>
    </div>
</div>


<script src="/js/status.js"></script>
</body>
</html>